.input-length > input {
    outline: none;
    width: 100%;
    aspect-ratio: 20 / 3;
    padding-inline: .5rem;
    border: 2px solid black;
}

.input-length > p {
    text-align: right;
    color: gray;
}