.add-personagem-container {
    z-index: 1;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: #00000020;
    display: grid;
    place-items: center;
}

form {
    padding: 1rem;
    min-width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: white;
}

form .input-length {
    width: 100%;
    aspect-ratio: 20 / 3;
    padding-inline: .5rem;
}

form button[type='submit'] {
    width: 100%;
    aspect-ratio: 20 / 3;
    background-color: white;
    border: 2px solid black;
    box-shadow: .25rem .25rem 0 black;
    transform: translate(-.25rem, -.25rem);
    
    &:active {
        transform: none;
        box-shadow: none;
    }
}